@use '../../styles/partials/variable' as *;

.browse-menu--container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 0.6rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  height: 30rem;

  .categories--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 1200px;

    h1 {
      font-size: 2.5rem;
      font-weight: 600;
      color: #333;
      font-family: $playFlair;
    }
  }

  .menu-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
  }
}
